<footer id="footer" class="footer">

  <!-- Footer: Sign Up Content -->
  <div class="footer__sign-up">
    <div class="footer__sign-up__column-1">

      <div>
        <!-- Sign Up Title text -->
        <h4 class="footer__sign-up__header">sign up for our exclusive offers!</h4>

        <!-- Sign Up Sub text -->
        <p class="footer__sign-up__text">Subscribe to receive the latest fashion news, promotional and more!</p>
      </div>

      <!-- [## INCOMPLETE ##] - Make form collect user emails and return a thank you modal if email valid and not repeated -->
      <!-- Sign Up Input -->
      <form>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Enter Your Email Here">
        </mat-form-field>
        <!-- [## INCOMPLETE ##] - Make subcribe button disabled until valid email typed -->
        <button mat-raised-button>subscribe</button>
      </form>
    </div>

    <!-- [## INCOMPLETE ##] - Create social media links and send user to those linking pages -->
    <!-- Follow us Social Media Content -->
    <div class="footer__sign-up__follow">

      <!-- Social Media Header -->
      <h4 class="footer__sign-up__follow__header">follow us</h4>

      <!-- Social Media Account Follow -->
      <div>
        <!-- Twitter -->
        <a routerLink="">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Facebook -->
        <a routerLink="">
          <i class="fab fa-facebook"></i>
        </a>
        <!-- YouTube -->
        <a routerLink="">
          <i class="fab fa-youtube"></i>
        </a>
        <!-- Instagram -->
        <a routerLink="">
          <i class="fab fa-instagram"></i>
        </a>
        <!-- Snapchat -->
        <a routerLink="">
          <i class="fab fa-snapchat-ghost"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- [## INCOMPLETE ##] - Create page for each section, linking <a> tag to page -->
  <!-- Footer: Main Content -->
  <div class="footer__m-content">

    <!-- Products -->
    <ul>
      <li class="footer__m-content__header">products</li>
      <li>
        <a routerLink="">
          shoes
        </a>
      </li>
      <li>
        <a routerLink="">
          clothing
        </a>
      </li>
      <li>
        <a routerLink="">
          accessories
        </a>
      </li>
      <br>
      <li>
        <a routerLink="">
          new arrivals
        </a>
      </li>
      <li>
        <a routerLink="">
          outlet
        </a>
      </li>
    </ul>

    <!-- Company Info -->
    <ul>
      <li class="footer__m-content__header">company info</li>
      <li>
        <a routerLink="">
          news
        </a>
      </li>
      <li>
        <a routerLink="">
          about us
        </a>
      </li>
      <li>
        <a routerLink="">
          contact us
        </a>
      </li>
      <li>
        <a routerLink="">
          blog
        </a>
      </li>
      <li>
        <a routerLink="">
          careers & opportunities
        </a>
      </li>
      <li>
        <a routerLink="">
          student discount
        </a>
      </li>
    </ul>

    <!-- Support -->
    <ul>
      <li class="footer__m-content__header">support</li>
      <li>
        <a routerLink="">
          help & cutomer service
        </a>
      </li>
      <li>
        <a routerLink="">
          delivery
        </a>
      </li>
      <li>
        <a routerLink="">
          return & refunds
        </a>
      </li>
      <li>
        <a routerLink="">
          size charts
        </a>
      </li>
      <li>
        <a routerLink="">
          security, privacy & cookies
        </a>
      </li>
      <li>
        <a routerLink="">
          terms & conditions
        </a>
      </li>
    </ul>

    <!-- Delivery & Returns -->
    <ul>
      <li class="footer__m-content__header">delivery & returns</li>
      <li>
        <a routerLink="">delivery & collection options
        </a>
      </li>
      <li>
        <a routerLink="">
          delivery FAQs
        </a>
      </li>
      <li>
        <a routerLink="">
          track my order
        </a>
      </li>
      <li>
        <a routerLink="">
          returns & refunds
        </a>
      </li>
    </ul>

  </div>

  <!-- Footer: Bottom Content -->
  <div class="footer__b-content">

    <hr />

    <ul class="footer__b-content__top">
      <ul class="footer__b-content__top-left">
        <li>
          <!-- Country recognition -->
          <div class="footer__b-content__top-left__country">
            <!-- International site recognition -->
            <p>international site</p>
            <!-- [## INCOMPLETE ##]: Recognise persons country/ language & dirct to page to change site language -->
            <a routerLink="" class="footer__b-content__top-left__country--flag">
              <img src="{{ countryPath }}" />
            </a>
          </div>
        </li>
        <li>
          <!-- Copyright -->
          © 2018 availon, inc. all rights reserved
        </li>
      </ul>

      <!-- [## INCOMPLETE ##]: Each element linkings to appropriate page -->
      <ul class="footer__b-content__top-right">
        <!-- Terms & Conditions -->
        <li>
          <a rotuerLink="">
            terms & conditions
          </a>
        </li>
        <!-- Privacy & Cookie Policy -->
        <li>
          <a rotuerLink="">
            privacy & cookie policy
          </a>
        </li>
        <!-- Cookies Settings -->
        <li>
          <a rotuerLink="">
            cookies settings
          </a>
        </li>
        <!-- Privacy centre -->
        <li>
          <a rotuerLink="">
            privacy centres
          </a>
        </li>
        <!-- Copyright Notice -->
        <li>
          <a rotuerLink="">
            copyright notice
          </a>
        </li>
      </ul>
    </ul>

    <ul class="footer__b-content__btm">
      <!-- Payments -->
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-paypal"></i>
      <i class="fab fa-cc-discover"></i>
      <i class="fab fa-cc-amex"></i>
      <i class="fab fa-cc-amazon-pay"></i>
      <i class="fab fa-bitcoin"></i>
    </ul>
  </div>
</footer>