<footer id="footer" class="footer">

  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <!-- Footer: Sign Up Content -->
  <div class="footer__sign-up">
    <div class="footer__sign-up__column-1">

      <div>
        <!-- Sign Up Title text -->
        <h4 class="footer__sign-up__header">sign up for our exclusive offers!</h4>

        <!-- Sign Up Sub text -->
        <p class="footer__sign-up__text">Subscribe to receive the latest fashion news, promotional and more!</p>
      </div>

      <!-- Sign Up Input -->
      <form>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Enter Your Email Here">
        </mat-form-field>
        <!-- [## INCOMPLETE ##] - Make subcribe button disabled until valid email typed -->
        <button mat-raised-button>subscribe</button>
      </form>
    </div>

    <!-- Follow us Social Media Content -->
    <div class="footer__sign-up__follow">

      <!-- Social Media Header -->
      <h4 class="footer__sign-up__follow__header">follow us</h4>

      <!-- Social Media Account Follow -->
      <div>
        <!-- Twitter -->
        <i class="fab fa-twitter"></i>
        <!-- Facebook -->
        <i class="fab fa-facebook"></i>
        <!-- YouTube -->
        <i class="fab fa-youtube"></i>
        <!-- Instagram -->
        <i class="fab fa-instagram"></i>
        <!-- Snapchat -->
        <i class="fab fa-snapchat-ghost"></i>
        </div>
    </div>
  </div>

  <!-- Footer: Main Content -->
  <div class="footer__m-content">

    <!-- Products -->
    <ul>
      <li></li>
    </ul>

    <!-- Cards & Discounts -->
    <ul>
      <li></li>
    </ul>

    <!-- Company Info -->
    <ul>
      <li></li>
    </ul>

    <!-- Support -->
    <ul>
      <li></li>
    </ul>

    <!-- Delivery & Returns -->
    <ul>
      <li></li>
    </ul>

  </div>

  <!-- Footer: Bottom Content -->
  <div class="footer__b-content">

    <ul class="footer__b-content__top">
      <ul class="footer__b-content__top-left">
        <li>
          <!-- Nation lag & Title-->
        </li>
        <li>
          <!-- Copyright -->
          © 2018 availon, inc. all rights reserved
        </li>
      </ul>
      <ul class="footer__b-content__top-right">
        <!-- Terms & Conditions -->
        <li> terms & conditions</li>
        <!-- Privacy & Cookie Policy -->
        <li>privacy & cookie policy</li>
        <!-- Cookies Settings -->
        <li>cookies settings</li>
        <!-- Privacy centre -->
        <li>privacy centres</li>
        <!-- Copyright Notice -->
        <li>copyright notice</li>
      </ul>
    </ul>

    <ul class="footer__b-content__btm">
      <!-- Payments -->
    </ul>
  </div>
</footer>