<footer id="footer" class="footer">

  <!-- Footer: Sign Up Content -->
  <div class="footer__sign-up">
    <!-- Sign Up Title text -->
    <h3 class="footer__sign-up__header">sign up to receive 10% off your first oder.</h3>
    <!-- Sign Up Sub text -->
    <p class="footer__sign-up__text">Subscribe to our newsletter and be the first to receive the latest fashion news,
      promotional and more!</p>
    <!-- Sign Up Input -->

    <!-- Follow us Social Media Content -->
    <div>
      <!-- Social Media Header -->
      <h4 class="footer__sign-up__follow__header">follow us</h4>
      <!-- Social Media Account Follow -->
      <div>
        <!-- Twitter -->
        <img class="footer__sign-up__follow__img" />
        <!-- Facebook -->
        <img class="footer__sign-up__follow__img" />
        <!-- YouTube -->
        <img class="footer__sign-up__follow__img" />
        <!-- Instagram -->
        <img class="footer__sign-up__follow__img" />
        <!-- Snapchat -->
        <img class="footer__sign-up__follow__img" />
      </div>
    </div>
  </div>

  <!-- Footer: Main Content -->
  <div class="footer__m-content">

    <!-- Products -->
    <ul>
      <li></li>
    </ul>

    <!-- Cards & Discounts -->
    <ul>
      <li></li>
    </ul>

    <!-- Company Info -->
    <ul>
      <li></li>
    </ul>

    <!-- Support -->
    <ul>
      <li></li>
    </ul>

    <!-- Delivery & Returns -->
    <ul>
      <li></li>
    </ul>

  </div>

  <!-- Footer: Bottom Content -->
  <div class="footer__b-content">

    <ul class="footer__b-content__top">
      <ul class="footer__b-content__top-left">
        <li>
          <!-- Nation lag & Title-->
        </li>
        <li>
          <!-- Copyright -->
          © 2018 availon, inc. all rights reserved
        </li>
      </ul>
      <ul class="footer__b-content__top-right">
        <!-- Terms & Conditions -->
        <li> terms & conditions</li>
        <!-- Privacy & Cookie Policy -->
        <li>privacy & cookie policy</li>
        <!-- Cookies Settings -->
        <li>cookies settings</li>
        <!-- Privacy centre -->
        <li>privacy centres</li>
        <!-- Copyright Notice -->
        <li>copyright notice</li>
      </ul>
    </ul>

    <ul class="footer__b-content__btm">
      <!-- Payments -->
    </ul>
  </div>
</footer>