<!-- Button -> login modal -->
<button class="navbar-btm__bar" (click)="openDialog()">
    <i class="material-icons">person_outline</i>
</button>

<!-- ## 
MatDialog Service: 
------------------
- MatDialog service can be used to open modal dialogs 
- A dialog is opened by calling the open method
   - (click)="openDialog()"
       - (click): Binding to user input events 
       - ="openDialog()": template statement - methods that called
- 0pen method will return an instance of MatDialogRef:

Sharing data with the Dialog Component:
---------------------------------------
- Can use the data option to pass information to the dialog component.
- To access the data in dialog component have to use the MAT_DIALOG_DATA injection token

Entry components:
-----------------
- For any component loaded into a dialog, must include component class in list of entryComponents in NgModule definition so that the Angular compiler knows to create the ComponentFactory for it.
## -->

