<!-- Product Detail -> Outputting details about the selected Product -->
<div class="product-detail">
  <div>
    <img src="" alt="">
  </div>

  <div>
    <h1>Product Name</h1>
  </div>

  <div>
    <!-- Dropdowm button -> To manage the product -->
    <button>Manage Product</button>
    <ul>
      <li><a href="">Add to shopping list</a></li>
      <li><a href="">Edit product</a></li>
      <li><a href="">Delete</a></li>
    </ul>
  </div>

  <div>
    Description
  </div>
  <div>
    Similar products
  </div>
</div>