// Mobile
@media only screen and (min-width: 320px) {}
// Tablet 
@media only screen and (min-width: 768px) {}
// Desktop 
@media only screen and (min-width: 1024px) {}
// Desktop XL
@media only screen and (min-width: 1280px) {}

.admin {
    &__drawer {
        text-transform: capitalize;
        &__list {
            padding: 0 20% 0 0;
        }
        &__list-item {
            padding: 5% 0;
            width: fit-content;
        }
    }
    &__content {
        padding: 0 5%;
        background-color: $color-white;
        min-height: 400px;
    }
}