.register {
    padding: 0 30%;
    &__heading {
        padding: 0 0 2% 0;
        text-transform: capitalize;
    }
    .mat-form-field {
        display: block;
    }
    table {
        width: 100%;
    }
    .action-button {
        background: #ff9c00;
        color: #ffffff;
        border: none;
        text-transform: uppercase;
        margin: 5% 0;
        height: 48px;
        font-size: 1rem !important;
        width: 100%;
        text-align: center;
    }
    .password-hint {
        margin-bottom: 1.25em;
    }
    &__radio-button {
        display: block;
    margin-bottom: 1.25em;
        mat-label {
            display: block;
        }
        mat-radio-button {
            display: inline-block;
            padding-right: 10px;
            margin: 2% 0;
        }
        mat-hint {
            display: block;
        }
    }
    &__checkbox {
        .mat-checkbox-layout {
            white-space: normal;
            margin-top: 2%;
        }
    }
}