<div class="register">

  <h1 class="register__heading">Create an account</h1>

  <div>
    <div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- First Name input -->
        <mat-form-field appearance="outline">
          <input matInput placeholder="First name" formControlName="firstName" required>
        </mat-form-field>

        <!-- Last Name input -->
        <mat-form-field appearance="outline">
          <input matInput placeholder="Last Name" formControlName="lastName" required>
        </mat-form-field>

        <!-- Email input -->
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>

        <!-- Password input -->
        <mat-form-field appearance="outline" class="password-hint">
          <!-- Ternary expression -> Hide password input -->
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
            required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint>Please make sure your password contains a minimum of one uppercase letter, one number and is at
            least 8 characters long.</mat-hint>
        </mat-form-field>

        <!-- Conirm Password input -->
        <mat-form-field appearance="outline">
          <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" required formControlName="confirmPassword">
        </mat-form-field>

        <!-- Autocomplete -> Delivery address -->
        <mat-form-field appearance="outline">
          <input type="text" placeholder="Address" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- [#INCOMPLETE#] -> Return to server user gender -->
        <!-- Radio Button -> Select gender -->
        <mat-radio-group class="register__radio-button">
          <mat-label>Select gender</mat-label>
          <!-- Structural Attribute -> Dynamically outputting gender list -->
          <mat-radio-button *ngFor="let gender of genders" [value]="gender">{{ gender }}</mat-radio-button>
          <mat-hint>We will use this information for tailoring your Availon experience.</mat-hint>
        </mat-radio-group>

        <!-- Marketing checkbox -->
        <mat-checkbox formControlName="marketing" class="register__checkbox">
          Yes, I would like to receive promotional email communications
          (including newsletters, occasional surveys and partner content).
        </mat-checkbox>

        <!-- Action Button -> Submit form button -->
        <button class="action-button" type="submit" [disabled]="!registerForm.valid">Register</button>

        <!-- Terms of Service -->
        <p>‎‎
          By creating an account, you agree to the terms and conditions and privacy
          policy of Availon.
          <br><br>
          Your personal data will be used by Availon to improve your navigation of the website, to expedite the
          checkout process, to give you access to restricted areas, to provide you with the Newsletter service (if
          requested) and in general to improve the level of service we offer.
          <br>
          If you no longer wish to receive email from Availon, please click the unsubscribe link included in all our
          promotional emails.
        </p>
      </form>
    </div>
  </div>
  <!-- End -->
</div>

<!--#
ToDo:
-----
1] Format -> First name | Last name | email | password | confirm password | gender | Address | marketing | terms of service 
2] Fixed required labels
3] Change mat-suffix password to text
4] Input border radius
5] mat-hint margion bottom
6] make placeholder text float on click
7] Make privacy term & policy into a link
1] Register account title 
  |-- [+] Carousel text -> Nike ad 
2] Copy Valentino format 
3] Give forms errors -> Mat-error
  |-- [+] Remove hint with error message shows
4] Back to sign in 
5] 
#-->