agm-map {
    height: 300px;
}

agm-maker {
    height: 50px;
}

footer {
    margin-top: 5%;
    .footer__sign-up {
        width: 100%;
        height: 80px;
        color: $color-text-gray;
        background: $color-light-gray;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%; 
        &__column-1 {
            display: inline-flex;
            align-items: center;
            form {
                width: 310px;
                height: 38px;
                margin-left: 25px;
                display: inline-flex;
                .mat-form-field {
                    width: 100%;
                    margin-right: 10px;
                }
                .mat-form-field-appearance-fill .mat-form-field-flex {
                    padding: 0 .75em 0 .75em;
                    background: $color-white;
                }
                .mat-form-field-appearance-fill .mat-form-field-underline::before {
                    background-color: $color-text-gray;
                }
                button {
                    text-transform: uppercase;
                    width: inherit;
                    background-color: $color-text-gray;
                    color: $color-white;
                    box-shadow: none !important;
                }
            }
        }      
        &__header {
            text-transform: uppercase;
            font-weight: 500;
        }
        &__text {}
        &__follow{
            display: inline-flex;
            align-items: center;
            &__header {
                font-weight: 500;
                text-transform: uppercase;
                margin-right: 10px;
            }
            i {
                font-size: 14px;
                padding: 8px;
                border: 1px solid;
                border-radius: 50%;
                margin: 0 4px;
            }
    }
    }
    .footer__m-content {
        width: 100%;
        padding: 3% 5% 0;
        display: inline-flex;
        justify-content: start;
        ul{
            min-width: 20%;
            padding-right: 5%;
            li {
                text-transform: capitalize;
                padding-bottom: 7px;
            }
        }
        &__header {
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase !important;
            margin-bottom: 10px;
        }
    }
    .footer__b-content {
    padding: 0 5%;
    text-transform: capitalize;
    hr {
        margin: 3% 0;
    }
        &__top{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            ul {
                flex: 1;
                display: flex;
            }
            &-left {
                // Country location
                &__country{
                    display: inline-flex;
                    margin-right: 10px;
                    &--flag {
                    margin-left: 10px;
                        img {
                            width: 18px;
                        }
                    }
                }
            }
            &-right {
                justify-content: space-between;
            }   
        }
        &__btm {
            text-align: right;
            margin: 10px 0;
            i {
                font-size: 32px;
                color: $color-text-gray;
                margin-left: 10px;
            }
        }
    }
}

