<mat-toolbar>
  <mat-toolbar-row class="navbar--top">
    <div class="left-nav">
      <p>International Site</p>
      <div class="discount-wrapper">
        <i class="material-icons">chevron_left</i>
        <li class="">student discount 20% off</li>
        <i class="material-icons">chevron_right</i>
      </div>
    </div>
    <span class="spacer"></span>
    <div>
      <a class="" routerLink="">Register</a>
      <a class="" routerLink="">Log In</a>
      <a routerLink="">Help</a>
      <i class="material-icons">shopping_cart</i>
      <img [src]="">
    </div>

    <!-- Shopping bag -->
    <div class="div--cart__count">

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>

  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
  </mat-toolbar-row>
</mat-toolbar>