<mat-toolbar>

  <!-- Top navigation -->
  <mat-toolbar-row class="navbar-top">

    <!-- International site recognition -->
    <p class="navbar-top__international">international site</p>

    <!-- Country recognition -->
    <!-- [INCOMPLETE]: Recognise persons country -->
    <div class="navbar-top__country">
      <img class="navbar-top__country--flag" src="{{ countryPath }}">
    </div>

    <!-- Discount -->
    <!-- [INCOMPLETE]: Make each message link to a page -->
    <div class="navbar-top__discount-wrapper">
      <!-- Discount text component -->
      <app-slidertext></app-slidertext>
    </div>
    <!-- End of Dsicount -->

    <!-- Logo - Interpolation used to bind logo-->
    <a class="navbar-top__logo-wrapper" routerLink="">
      <img class="navbar-top__logo" src="{{ logoPath }}">
    </a>

    <div class="navbar-top__routes">
      <!-- Login/ Register authentication form button-->
      <app-register></app-register>
          
      <!-- Wishlist -->
      <a routerLink="">
        <i class="material-icons">favorite_border</i>
      </a>
      <!-- Checkout-->
      <app-wishlist></app-wishlist>

      <!-- Search input-->
      <i class="material-icons">search</i>

      <!-- Help: Customer care -->
      <a class="navbar-top__routes--help" routerLink="/help" routerLinkActive="active">
        <p class="navbar-top__routes--text">customer care</p>
        <i class="material-icons">
          help_outline
        </i>
      </a>
    </div>

      <!-- Search input-->
      <!-- <form class="navbar-top__input">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search">
            <i class="material-icons" matSuffix>
              search
            </i>
          </mat-form-field>
        </form> -->

      </mat-toolbar-row>
  <!-- End of top Navigation-->

  <!-- Bottom Navgaiton -->
  <mat-toolbar-row class="navbar-btm">

    <!-- Categories -->
      <ul class="navbar-btm__category-bar">
        <li>
          <button class="navbar-btm__bar" mat-button [matMenuTriggerFor]="menu" >Men</button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <div class="">
              <h5>Men's offers</h5>
              <a mat-menu-item>Item 1</a>
              <a mat-menu-item>Item 2</a>
              <a mat-menu-item>Item 3</a>
              <a mat-menu-item>Item 4</a>
              <a mat-menu-item>Item 5</a>
              <a mat-menu-item>Item 6</a>
            </div>
          </mat-menu>
        </li>
        <li><a class="navbar-btm__bar" routerLink="">Women</a></li>
        <li><a class="navbar-btm__bar" routerLink="">Kids</a></li>
        <li><a class="navbar-btm__bar" routerLink="">Collections</a></li>
        <li><a class="navbar-btm__bar--bright" routerLink="">Sales</a></li>
      </ul>

  </mat-toolbar-row>
  <!-- End of bottom navigation -->

</mat-toolbar>