<button class="navbar-btm__bar" [matMenuTriggerFor]="menu">sports</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div class="navbar-btm__bar__col">
      <h6>new in</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">All new arrivals</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Brands</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Sale</a>
      <h6>clothing</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">all menswear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">jeans</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">t-shirts & vests</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">shirts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">coats & jackets</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">hoodies & sweatshirts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">jumpers & cardigans</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">tops</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">big & tall</a>
    </div>
    <div class="navbar-btm__bar__col">
      <h6 class="emp">continued over</h6>
      <hr class="emp">
      <a mat-menu-item class="navbar-btm__category-bar-items">Blazers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Chinos</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Joggers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">loungewear & pyjamas</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">polo shirts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">shorts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">swim shorts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">tracksuits & matching sets</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">trousers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">underwear & socks</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">waistcoats</a>
      <h6>shop by fit</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">big 7 tall</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">longline tops</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">muscle fit</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">slim fit</a>
    </div>
    <div class="navbar-btm__bar__col">
      <h6>shoes & boots</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">all shoes & boots</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">boots</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">loafers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">shoes</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">trainers</a>
      <h6>accessories</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">accessories</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">bags</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">belts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">grooming</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">hats, scarves & gloves</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">jewellery</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">novelty & gadgets</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">sunglasses</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">ties & formal accessories</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">wallets</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">watches</a>
    </div>
    <div class="navbar-btm__bar__col">
      <h6>trending</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">inspiration</a>
      <h6>collections</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">back to education</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">casualwear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">denim</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">essentials</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">gifts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">going out</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">halloween</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">holiday shop</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">limited edition</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">smart shop</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">style staples</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">teen boys</a>
      <h6>collections</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">t-shirt 2 for £12 / 3 for £18</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">long sleeve t-shirts 2 for £18 / 3 for £25</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">seasonal offers</a>
    </div>
    <div class="navbar-btm__bar__col">
      <img class="img__model" src="{{ menModelPath }}">
    </div>
  </mat-menu>