<!-- Navigation -->
<mat-toolbar>

  <!-- Top navigation -->
  <mat-toolbar-row class="navbar-top">

    <!-- Discount -->
    <!-- [## INCOMPLETE ##]: Make each message link to a page -->
    <div class="navbar-top__discount-wrapper">
      <!-- Discount text component -->
      <app-slidertext></app-slidertext>
    </div>

    <!-- Logo - Interpolation used to bind logo-->
    <a class="navbar-top__logo-wrapper" routerLink="">
      <img class="navbar-top__logo" src="{{ logoPath }}">
    </a>

    <!-- Navtop - Right content -->
    <div class="navbar-top__routes">

      <!-- Search input-->
      <app-search-nav></app-search-nav>
      <!-- [#INCOMPLETE# -> Routing Guard] Admin -->
      <button routerLink="admin" routerLinkActive="active">admin</button>
      <!-- Help: Customer care -->
      <button routerLink="/help" routerLinkActive="active">help</button>
      <!-- Login/ Register authentication form button-->
      <app-login></app-login>
      <!-- Wishlist -->
      <button class="" routerLink="wishlist">
        <i class="material-icons">favorite_border</i>
      </button>
      <!-- Handbag -->
      <app-handbag></app-handbag>
      <!-- End navtop - Right content -->
    </div>

  </mat-toolbar-row>
  <!-- End of top Navigation-->

  <!-- Bottom Navgaiton -->
  <mat-toolbar-row class="navbar-btm">
    <!-- Categories -->
    <ul class="navbar-btm__category-bar">
      <!-- New in category bar -->
      <li>
        <app-newin-cat></app-newin-cat>
      </li>
      <!-- Sales category bar -->
      <li>
        <app-sales-catg></app-sales-catg>
      </li>
      <!-- Women category bar -->
      <li>
        <app-women-catg></app-women-catg>
      </li>
      <!-- Men category bar -->
      <li>
        <app-men-catg></app-men-catg>
      </li>
      <!-- Boys category bar -->
      <li>
        <app-boys-catg></app-boys-catg>
      </li>
      <!-- Girls category bar -->
      <li>
        <app-girls-catg></app-girls-catg>
      </li>
      <!-- Shoes category bar -->
      <li>
        <app-shoes-catg></app-shoes-catg>
      </li>
      <!-- Accessories category bar -->
      <li>
        <app-accessories-catg></app-accessories-catg>
      </li>
      <!-- Sports category bar -->
      <li>
        <app-sports-catg></app-sports-catg>
      </li>
    </ul>
    <!-- End of Categories -->
  </mat-toolbar-row>
  <!-- End of bottom navigation -->
</mat-toolbar>
<!-- End of navigation -->

<!--#
ToDo:
-----
[1] Change name of navigation to Header
#-->