// Mobile
@media only screen and (min-width: 320px) {}
// Tablet 
@media only screen and (min-width: 768px) {}
// Desktop 
@media only screen and (min-width: 1024px) {}
// Desktop XL
@media only screen and (min-width: 1280px) {}


// Resetting mat toolbar  
.mat-toolbar {
  background: $color-white;
  font-size: 13px;
  margin-bottom: 5%;
}

 // Reset mat-menu
 // [INCOMPLETE]: Pass mat-menu-panel reset for only certain elements
.mat-menu-panel {
  position: relative;
  min-width: 100vw !important;
  max-width: 100% !important; 
  padding: 0 10vw;
 }
.mat-elevation-z2 {
  box-shadow: none;
}
.mat-menu-content:not(:empty) {
  display: flex;
}

// Top Navbar 
.navbar-top {
  height: 48px !important;
  padding: 0 5% !important;
  line-height: 48px;
  color: $color-dark;
  border-bottom: 1px solid $color-light-gray;
  text-transform: capitalize;
  // Discount wrapper 
  &__discount-wrapper {
    flex: 5;
    display: inline-flex;
    align-items: center;
  }
  // Logo container 
  &__logo-wrapper {
    flex: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  // Logo element
  &__logo {
    width: 140px;
    height: 26px;
  }
  // Routing links 
  &__routes {
    display: inline-flex;
    justify-content: flex-end;
    flex: 5;
    // Routing buttons
    button {
      border: none;
      padding: 0 5px;
      margin: 0 5px;
      height: 48px;
      min-width: auto;
      text-transform: capitalize;
    }
    // Routing links icon
    i {
      vertical-align: middle;
      position: relative;
    }
  }
  // Input 
  &__search {
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
    &__input {
      border: solid 1px $color-gray !important;
      width: 70px !important;
      height: 32px;
      padding: 0 10px !important;
      border-radius: 10em;
      transition: all .5s;
      &:focus,
      &:hover {
          width: 150px !important;
      }
    }
  }
}

.navbar-btm {
  height: 48px !important;
  justify-content: center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  // Shopping category 
  &__category-bar {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    // Reset menu panel (dropdown menu)
    &-items {
      font-size: 13px;
      text-transform: capitalize;
      height: 28px !important;
      line-height: 28px !important;
      padding: 0 !important;
    }
  }
  // Shopping caterogry section
  &__bar {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0 10px;
    height: 48px;
    min-width: 40px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    // Menu panel category text hover effect 
    &:hover,
    &:active,
    &:focus {
    color: $color-gray;
    border-bottom: 2px solid;
    position: relative;
    }
    // Menu panel columns
    &__col {
      flex: 1;
      padding-right: 20px;
      min-width: 200px;
      // Menu panel sub titles 
      h6 {
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: 500;
      }
      hr {
        border: 1px solid $color-light-gray;
      }
      .img__model {
        width: 200px;
      }
    }
  }
}

.emp {
  visibility: hidden;
}
.bright {
  color: $color-bright;
}   