/* Primary file */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Modules and Variables
@import "stylesheets/modules/colors";
@import "stylesheets/modules/all";
@import "stylesheets/modules/utility";

// Partials
@import "stylesheets/partials/reset";
@import "stylesheets/partials/typography";
@import "stylesheets/partials/figures";
@import "stylesheets/partials/grids";
@import "stylesheets/partials/forms";
@import "stylesheets/partials/base";
@import "stylesheets/partials/buttons";

// Third-party
@import "stylesheets/vendor/colorpicker";
@import "stylesheets/vendor/jquery.ui.core";

// Components SCSS
@import "app/navigation/navigation.component.scss";
@import "app/slidertext/slidertext.component.scss";
@import "app/search-nav/search-nav.component.scss";
@import "app/footer/footer.component.scss";
// Modals
@import "app/modals/login-dialog/login-dialog.component.scss";

// Styles
html, body {
  height: 100%;
  display: block;
}

body {
  @extend %font-shared;
  padding: 0;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
