/* Primary file */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Partials
@import "stylesheets/partials/colors";
@import "stylesheets/partials/reset";
@import "stylesheets/partials/typography";
@import "stylesheets/partials/forms";
@import "stylesheets/partials/buttons";
@import "stylesheets/partials/utility";

// Pages 
@import "app/pages/register/register.component.scss";

// Components SCSS
@import "app/shared/components/navigation/navigation.component.scss";
@import "app/components/slidertext/slidertext.component.scss";
@import "app/components/search-nav/search-nav.component.scss";
@import "app/shared/components/footer/footer.component.scss";

// Modals
@import "app/shared/modals/login-dialog/login-dialog.component.scss";

// Styles
html, body {
  height: 100%;
  display: block;
}

body {
  @extend %font-shared;
  padding: 0;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
