<button class="navbar-btm__bar" [matMenuTriggerFor]="menu">women</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div class="navbar-btm__bar__col">
      <h6>new in</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">All new arrivals</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">partywear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items bright">Sale</a>
      <h6>clothing</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">all womenwear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">dresses</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">playsuit & jumpsuit</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">tops</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">jumpers & cardigans</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">t-shirts & vests</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">hoodies & sweats</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">jeans</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">trousers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">legging</a>
    </div>
    <div class="navbar-btm__bar__col">
      <h6 class="emp">continued over</h6>
      <hr class="emp">
      <a mat-menu-item class="navbar-btm__category-bar-items">shorts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">skirts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">matching sets & co-ordinates</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">swimwear & beachwear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">nightwear & slippers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">socks & tights</a>
      <h6>shop by fit</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">petite</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">plus</a>
    </div>
    <div class="navbar-btm__bar__col">
      <h6>shoes & boots</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">all shoes & boots</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">boots</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Court Shoes</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Heels</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Plimsolls & Trainers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">Loafers</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">shoes & sandals</a>
      <h6>accessories</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">bags & purses</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">belts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">hats</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">jewellery</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">makeup & perfume</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">sunglasses</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">watches</a>
    </div>
    <div class="navbar-btm__bar__col">
      <h6>trending</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">inspiration</a>
      <h6>collections</h6>
      <hr>
      Animal Print
      <a mat-menu-item class="navbar-btm__category-bar-items">animal print</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">denim</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">halloween</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">holiday shop</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">knitwear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">occasionwear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">gifts</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">style staples</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">workwear</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">limited edition</a>
      <h6>offers</h6>
      <hr>
      <a mat-menu-item class="navbar-btm__category-bar-items">t-shirt 2 for £12 / 3 for £18</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">long sleeve t-shirts 2 for £18 / 3 for £25</a>
      <a mat-menu-item class="navbar-btm__category-bar-items">seasonal offers</a>
    </div>
    <div class="navbar-btm__bar__col">
      <img class="img__model" src="{{ womenModelPath }}">
    </div>
  </mat-menu>